.grid-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* gap: 1vw; */

}


.grid-cell{
    min-width: 8vw;
    border: 1px solid gray ;
    /* margin:0.8vw 0; */
    /* overflow-y: scroll; */
    height: 19vh;
}